@charset "UTF-8";

body {
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: aliceblue;
}